<section>
  <form action="/searches" method="POST">
    <input type="text" name="bookSearch">
      <label for="title">Title <input type="radio" name="dataChoice" id="title" value="title"></label>
      <label for="author">Author <input type="radio" name="dataChoice" id="author" value="author"></label>
    <button type="submit">Search</button>
  </form>
</section>