
body {
  background-color: burlywood;
}

h1 {
  font-size: 40px;
}

.error {
  background-color: rgb(207, 100, 68);
}

ul, li, a {
	text-decoration: none;
	list-style: none;
}

* {
  box-sizing: border-box;
}
a {
	color: #000000;
}

body {
	display: grid;
	grid-template-rows:  120px 1fr 80px;
}

@media all and (min-width: 768px) and (max-width: 959px) {
  body > main {
    background-color: rgb(170, 148, 148);
  }
}
