
body {
  background-color: burlywood;
}

h1 {
  font-size: 40px;
}

.error {
  background-color: rgb(207, 100, 68);
}

ul, li {
	text-decoration: none;
	list-style: none;
}

* {
  box-sizing: border-box;
}

body {
	display: grid;
	grid-template-columns: 1fr 460px 1fr;
	grid-template-rows:  1fr 50px 1fr;
}

@media all and (min-width: 960px) {
  body {
		grid-template-columns: 1fr 80% 1fr;
		grid-template-rows:  120px 1fr 80px;

	}
}