<header>
  <h1>Welcome to the Book App</h1>
  <nav class="navigation">
    <ul>
      <li><a href="/">View All Tasks</a></li>
      <li><a href="/add">Add a New Task</a></li>
    </ul>
  </nav>
</header>